<div class="row mainContainer">
  <div class="col-xs-12 col-xs-offset-0">
    <h2 id="title">Yes Man v1.0</h2>
    {{outlet}}
    <hr>
    <h1 class="center">{{yesPercentage}} Yes</h1>
  </div>
</div>
