<div class="center question">{{model.question}}</div>
<br>
<button type="button" {{action 'add' 'yes'}} class="btn btn-primary btn-block">Yes</button>
<button type="button" {{action 'add' 'no'}} class="btn btn-danger btn-block">No</button>
